body {
  margin:0; padding:0;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.appearance {
  border-radius: 3px;
}
.appearance:focus {
  border: 3px solid rgb(236, 78, 78);
}

.nav-link {
  font-size: 1em;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  border: 5px solid #d1d1d1;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 0 0 10px 0;
  border: none;
  background: #dfdfdf;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.slide_container {
	width: 100%
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 50%;
	height: 15px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transistion: .2s;
	transition: opacity .2s
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #4CAF50;
	cursor: pointer;
}

.form-inline {
  padding-left: 10px
}